services:
  backend:
    build:
      context: ./server
    container_name: backend
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build:
      context: ./client
    container_name: frontend
    env_file:
      - ./client/.env
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - backend